@use 'lib' as *;

.custom-label {
	$self: &;

	display: flex;
	flex-direction: column;
	gap: 10px;

	&__title {
		font-size: 14px;
		font-weight: 500;
		color: var(--text-color-second);
	}

	&__input {

	}

}
