<footer class="footer">
    <div class="footer__container container">
        <div class="footer__columns">
            <a href="#" class="footer__logo">
                <img class="footer__logo-img footer__logo-img--dark" src="./img/dark/logo.svg" alt="">
                <img class="footer__logo-img footer__logo-img--light" src="./img/light/logo.svg" alt="">
            </a>
            <div class="footer__column">
                <h4 class="footer__column-title">Продукция</h4>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#">Газовые генераторы</a></li>
                    <li class="footer__list-item"><a href="#">Портативные электростанции</a></li>
                    <li class="footer__list-item footer__list-item_soon"><a href="#">Бензиновые генераторы</a></li>
                    <li class="footer__list-item footer__list-item_soon"><a href="#">Дизельные генераторы</a></li>
                </ul>
            </div>
            <div class="footer__column">
                <h4 class="footer__column-title">О бренде</h4>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#">О производителе</a></li>
                    <li class="footer__list-item"><a href="#">Гарантия</a></li>
                    <li class="footer__list-item"><a href="#">Документы</a></li>
                    <li class="footer__list-item"><a href="#">Контакты</a></li>
                    <li class="footer__list-item"><a href="#">Полезные материалы</a></li>
                </ul>
            </div>
            <div class="footer__socials">
                <a href="#" class="footer__social footer__social_youtube">
                    <svg>
                        <use xlink:href="#youtube"></use>
                    </svg>
                </a>
                <a href="#" class="footer__social footer__social_telegram">
                    <svg>
                        <use xlink:href="#telegram"></use>
                    </svg>
                </a>
                <a href="#" class="footer__social footer__social_max">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21.0089 0H6.99107C3.13001 0 0 3.13001 0 6.99107V21.0089C0 24.87 3.13001 28 6.99107 28H21.0089C24.87 28 28 24.87 28 21.0089V6.99107C28 3.13001 24.87 0 21.0089 0Z"
                            fill="#7A7A7D" />
                        <path fill="var(--input-color)" style="transition: var(--transition);" fill-rule="evenodd" clip-rule="evenodd"
                            d="M13.9302 24.2472C11.83 24.2472 10.854 23.9406 9.15751 22.7142C8.08441 24.0939 4.6863 25.1721 4.5381 23.3274C4.5381 21.9426 4.2315 20.7724 3.88402 19.4949C3.47012 17.9211 3 16.1683 3 13.6287C3 7.56319 7.97711 3 13.874 3C19.776 3 24.4005 7.78803 24.4005 13.6849C24.4203 19.4906 19.7359 24.2162 13.9302 24.2472ZM14.0171 8.2428C11.1453 8.09463 8.9071 10.0824 8.41145 13.1995C8.00265 15.78 8.72827 18.9226 9.34656 19.0861C9.64294 19.1577 10.389 18.5547 10.854 18.0897C11.6229 18.6209 12.5183 18.9399 13.4499 19.0146C16.4255 19.1577 18.9681 16.8924 19.1679 13.92C19.2842 10.9413 16.9931 8.41839 14.0171 8.24793V8.2428Z"
                            fill="#292A2B" />
                    </svg>

                </a>
                <a href="#" class="footer__social footer__social_vk">
                    <svg>
                        <use xlink:href="#vk"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer__bottom">
            <p>© POWERON. Все права защищены.</p>
            <a href="#">Политика конфиденциальности</a>
            <a href="#">Пользовательское соглашение</a>
        </div>
    </div>
</footer>

<div class="navigation-bar">
    <div class="navigation-bar__container container">
        <button data-modal-open=".production-modal" type="button" class="navigation-bar__button">
            <svg><use xlink:href="#menu"></use></svg>
            Продукция
        </button>
        <button type="button" class="navigation-bar__button">
            <svg><use xlink:href="#price"></use></svg>
            Где купить
        </button>
        <button data-modal-open=".quiz-modal" type="button" class="navigation-bar__button">
            <svg><use xlink:href="#tasks"></use></svg>
            Подбор
        </button>
        <button data-modal-open=".header-modal" type="button" class="navigation-bar__button">
            <svg><use xlink:href="#dots"></use></svg>
            Меню
        </button>
    </div>
</div>

@@include("_modals.html")