@use 'lib' as *;

.callback-biggest {
	$self: &;

	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 1374px;
	margin: 0 auto 150px;
	background: var(--card-color);
	border-radius: 10px;
	overflow: hidden;

	@include media("<=xs") {
		margin-bottom: 0;
		border-bottom: 1px solid var(--devider-color);
	}

	&_info {
		@include media("<=xs") {
			margin-bottom: fluid(150px, 100px);
			border-bottom: none;
		}
		#{$self}__text {
			margin-bottom: 28px;
			color: var(--text-color-second);
			max-width: 501px;
		}
		#{$self}__container {
			@include media("<=md") {
				padding: 50px 0;
			}
		}
	}

	&__gradient {
		position: absolute;
		inset: 1px;
		z-index: 0;
		border-radius: 12px;
		padding: 2px;
		pointer-events: none;

		background:
			linear-gradient(231deg, #7A7A7D 0%, rgba(122, 122, 125, 0.4) 10%, transparent 28%),
			linear-gradient(51deg, #7A7A7D 0%, rgba(122, 122, 125, 0.4) 12%, #161619 30%);

		mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		mask-composite: exclude;

		@include media("<=lg") {
			display: none;
		}
	}

	&__socials {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 495px;

		@include media("<=md") {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 10px;
			max-width: 100%;
		}
	}

	&__social {
		position: relative;

		@include flex-center;

		flex-direction: row;
		gap: 10px;
		padding: 16px;
		font-size: 18px;
		font-weight: 700;

		img {
			width: fluid(24px, 20px);
			height: fluid(24px, 20px);
		}

		@include media("<=xs") {
			p {
				display: none;
			}
		}
	}

	&__social-bg {
		position: absolute;
		inset: 0;
		z-index: -1;
		border-radius: 10px 0 0 10px;
		transition: all var(--transition, 0.3s);

		/* SVG с добаленным preserveAspectRatio='none' */
		mask-image:
			linear-gradient(#000, #000),
			url("data:image/svg+xml;charset=utf-8,<svg width='35' height='58' viewBox='185 0 35 58' preserveAspectRatio='none' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M191.492 0C193.763 0 195.966 0.772807 197.739 2.19131L216.247 16.9976C218.619 18.8953 220 21.7684 220 24.8062V48C220 53.5228 215.523 58 210 58H185V0H191.492Z' fill='black'/></svg>");

		mask-size: calc(100% - 33px) 100%, 35px 100%;
		mask-position: left center, right center;
		mask-repeat: no-repeat;
		background: var(--devider-color);

		&::before {
			content: '';
			position: absolute;
			inset: 1px;
			background: var(--card-color);
			border-radius: 9px 0 0 9px;
			z-index: 1;

			mask-image: inherit;
			mask-size: inherit;
			mask-position: inherit;
			mask-repeat: inherit;
		}
	}

	&__container {
		padding: 80px 0;
		display: grid;
		grid-template-columns: 1fr 598px;
		gap: fluid(60px, 28px);

		@include media("<=md") {
			grid-template-columns: 100%;
		}

		@include media("<=xs") {
			padding-bottom: 0;
		}
	}

	&__about {}

	&__title {
		margin-bottom: fluid(28px, 20px);
	}

	&__text {
		font-size: fluid(20px, 14px);
	}

	&__form {
		position: relative;
		z-index: 2;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__label {
		&:has(textarea) {
			grid-column: 1 / span 2;

			@include media("<=xs") {
				grid-column: auto;
			}
		}
	}

	&__btn {
		grid-column: 1 / span 2;

		@include media("<=xs") {
			grid-column: auto;
		}
	}

	&__image {
		position: absolute;
		width: 495px;
		bottom: -160px;
		left: 80px;

		img {}

		@include media("<=xs") {
			position: static;
			width: 100%;
		}
	}

}