@use 'lib' as *;

.custom-input {
	$self: &;

	border-radius: 10px;
	background: var(--input-color);
	font-size: 14px;
	font-weight: 500;
	padding: 20px 16px;
	color: var(--text-color);

	&::placeholder {
		color: var(--text-color-second);
	}

	@at-root textarea#{$self} {
        resize: none;
        min-height: 120px;
    }
	
}
